{% block content %}
<h3>Create Virtual Machine</h3>
<form id="vmForm" action={% url 'new-vm' %} method="post">
  <label for="vm-name">VM Name:</label>
  <input type="text" id="vm-name" name="vm_name" required>
  <label for="hypervisor-select">Choose Hypervisor:</label>
  <select id="hypervisor-select" name="hypervisor" ></select>

  <br>

  <label for="max-memory">Max Memory (MB):</label>
  <input type="number" id="max-memory" min="1" name="vm_memory" required>
  
  <br>

  <label for="vcpu-count">vCPU Count:</label>
  <input type="number" id="vcpu-count" min="1" name="vm_cpu" required>

  <br>
  {% csrf_token %}
  {{ form }}
  <button type="form-submit">Create VM</button>
</form>
{% endblock %}
